{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="my-5 text-center">About Page</h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, laboriosam iusto? Veritatis cum iste itaque placeat mollitia aperiam distinctio. Itaque numquam nesciunt veritatis sit. Aliquid eos quis eius quos sequi atque consequatur recusandae quisquam, odio quasi hic et! Quia, nobis. Tempora, non vitae ipsum repellendus laborum natus praesentium eveniet officia.
    </p><br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veritatis adipisci odit deleniti. Officiis tenetur esse dicta soluta maxime repudiandae consequuntur illum cupiditate nesciunt, ab, magni architecto. Ipsum quam dignissimos sequi, atque ea, exercitationem id ullam possimus repellat nesciunt eius expedita in officia ut praesentium ex alias voluptate eveniet laboriosam!</p>
     
</div>

{% endblock content %}